@{
    ViewBag.Title = "Menu de usuario";
    var categorias = ViewBag.categoriaRaiz;
    var nombreTienda = @Session["Tienda_Nombre"];
}
@*<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="~/Scripts/gmaps.min.js"></script>*@


<div id="crearProducto" data-request-url="@Url.Action("Create","Product")">
    <h3>Nueva subasta</h3>
    <hr />
    <dl class="dl-horizontal"></dl>
    <div id="datosProducto" class="" style="display: none; min-height: 500px;">
        @Html.Partial("_DatosProductoPartial")
    </div>

    <div id="datosCategoria" class="" style="display: none; min-height: 560px;">
        @Html.Partial("_DatosCategoriaPartial")
    </div>

    <div id="datosAtributos" class="" style="display: none; min-height: 560px;">
        @Html.Partial("_DatosAtributosPartial")
    </div>

    <div id="geolocalizacion" style="display:none; min-height: 560px;">
        <h4>Seleccione donde se localiza el producto a subastar</h4>
        <div id="map">
        </div>
        
        <div>
            <button id="btnConfirmarSubasta" class="btn btn-success" style="float:right" onclick="confirmarProducto()">Confirmar subasta</button>
            <button class="btn btn-default" style="float:left" onclick="volverProd('datosAtributos')">Anterior</button>
        </div>
    </div>

    <div id="paso4-agregarimagenes" style="display: none; min-height: 560px;">
        <div id="datosImagenes" class="">
            @Html.Partial("_DatosImagenesPartial")
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        cargarMapa();
        $('#datosProducto').show();
    });

</script>

<style>
    .boton100{
       width: 100%;
    }
</style>