@{
    ViewBag.Title = "Menu de usuario";
    var categorias = ViewBag.categoriaRaiz;
    var nombreTienda = @Session["Tienda_Nombre"];
}

<div>
    <h4>Nueva subasta</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    <button class="btn btn-primary boton100" onclick="datosProd()">Ingresar datos del producto</button>
    <div id="datosProducto" class="" style="display: none">
        @Html.Partial("_DatosProductoPartial")
    </div>

    <hr />
    <dl class="dl-horizontal"></dl>

    <button class="btn btn-primary boton100" onclick="datosCat()">Seleccionar una categoría</button>
    <div id="datosCategoria" class="" style="display: none">
        @Html.Partial("_DatosCategoriaPartial")
    </div>

    <hr />

    <button class="btn btn-primary boton100" onclick="datosAtributos()">Ingresar atributos</button>
    <div id="datosAtributos" class="" style="display: none">
        @Html.Partial("_DatosAtributosPartial")
    </div>

    <hr />

    <button class="btn btn-primary boton100" onclick="datosImagenes()">Cargar imagenes</button>
    <div id="datosImagenes" class="" style="display: none">
        @Html.Partial("_DatosImagenesPartial")
    </div>

    <dl class="dl-horizontal"></dl>
    <button class="btn btn-success" onclick="confirmarProducto()">Confirmar subasta</button>

</div>

<script>
    datosProd = function () {
        $("#datosProducto").toggle(1000);
    }

    datosCat = function () {
        $("#datosProducto").toggle(1000);
    }

    datosAtributos = function () {
        $("#datosProducto").toggle(1000);
    }

    datosImagenes = function () {
        $("#datosProducto").toggle(1000);
    }

    confirmarProducto = function () {
        console.log("Datos de producto: ");
        var datosProducto = JSON.parse(localStorage.getItem("DatosProducto"));
        console.log(datosProducto);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create","Product")",
            data: datosProducto,
            accept: 'application/json',
            success: function (data) {
                swal("éxito!", "Iniciaste una nueva subasta!", "success");
            },
            error: function (error) {
                swal("Oops...", "No se pudo crear el nuevo producto: " + error, "error");
            }
        });
    }

</script>

<style>
    .boton100{
       width: 100%;
    }
</style>