@{
    ViewBag.Title = "Menu de usuario";
    var categorias = ViewBag.categoriaRaiz;
    var nombreTienda = @Session["Tienda_Nombre"];
}

<div id="crearProducto" data-request-url="@Url.Action("Create","Product")">
    <h4>Nueva subasta</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    <button class="btn btn-primary boton100" onclick="datosProd()">Ingresar datos del producto</button>
    <div id="datosProducto" class="" style="display: none">
        @Html.Partial("_DatosProductoPartial")
    </div>

    <hr />
    <dl class="dl-horizontal"></dl>

    <button class="btn btn-primary boton100" onclick="datosCat()">Seleccionar una categoría</button>
    <div id="datosCategoria" class="" style="display: none">
        @Html.Partial("_DatosCategoriaPartial")
    </div>

    <hr />

    <button class="btn btn-primary boton100" onclick="datosAtributos()">Ingresar atributos</button>
    <div id="datosAtributos" class="" style="display: none">
        @Html.Partial("_DatosAtributosPartial")
    </div>

    <hr />

    <div id="paso4-agregarimagenes" style="display: none">
        <button class="btn btn-primary boton100" onclick="datosImagenes()">Cargar imagenes</button>
        <div id="datosImagenes" class="" style="display: none">
            @Html.Partial("_DatosImagenesPartial")
        </div>
    </div>

    <dl class="dl-horizontal"></dl>
    <button class="btn btn-success" onclick="confirmarProducto()">Confirmar subasta</button>

</div>

<script>
    

</script>

<style>
    .boton100{
       width: 100%;
    }
</style>