
@{
    ViewBag.Title = "CalificarUsuario";
    var dc = ViewBag.DataCalificacion;
}

<h2> Calificar compra </h2>
<div class="calificacion-container">


    @if (dc.puedoCalificar)
    {
        <div class="bs-callout bs-producto">
            <div class="datos-calif-left">
                <img src="@Url.Action("getProductImg", "Product", new { productId = @dc.idProd, index = 0 }) " class="img-centrada" width="150px" alt="Responsive image" />
            </div>
            <div class="datos-calificacion">
                <span class="labels-c"> <b> Producto: </b> @dc.nombreProd </span>
                <span class="labels-c"> <b> Vendedor: </b> @dc.idVendedor </span>  
                <span class="labels-c"> <b> Precio compra: </b> @dc.precioProd </span>
                <span class="labels-c"> <b> Fecha compra: </b> @dc.fecha_compra </span> 
            </div>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4>1. ¿Ya recibiste el producto?</h4>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Sí, ya recibí el producto.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    No recibí el producto.
                </label>
            </div>
        </div>

    <div class="bs-callout bs-callout-info">
        <h4>2. ¿Como calificas la compra? </h4>
        <input id="input-2c" class="rating" min="0" max="5" step="1" data-size="sm"
               data-symbol="&#xf005;" data-glyphicon="false" data-rating-class="rating-fa">
    </div>

    <div class="bs-callout bs-callout-info">
        <h4>3. ¿Algún comentario sobre la operación? </h4>
        <textarea class="form-control" id="calif-coment" rows="3"></textarea>
    </div>
        
    <div class="footer-calif">
        <button class="btn btn-default" id="confirmCalificacion"  style="float:right; margin-top: 20px" onclick="confirmarCalif()">Enviar calificación</button>
        <a class="button" id="btnFinalizarCalificacion" style="display:none; float: right" href="@Url.Action("Index", "Home")">Finalizar calificación</a>
    </div>
    }
    else
    {
       <h2>Usted no puede calificar esta compra.</h2> 
    }
</div>

<script>
    var ProductoID = "@dc.idProd"
    var UsuarioCalificado = "@dc.idVendedor"
    var UsuarioEvalua = "@Context.User.Identity.Name"
    $(document).ready(function () {
        $("#input-2c").rating();
    });

    confirmarCalif = function () {
        var rating = parseInt($("#input-2c").val(), 10),
            comentario = $("#calif-coment").val();
        if (!comentario) {
            comentario = "";
        }
        if (!rating) {
            swal("Datos incompletos", "Ingrese calificacion")
        } else {
            $("#confirmCalificacion").html("Enviar calificación" + "<i class=\"fa fa-spinner fa-pulse\"></i>");
            $.ajax({
                type: "POST",
                url: "@Url.Action("agregarCalificacion", "Usuario")",
                data: {
                    ProductoID: ProductoID,
                    UsuarioEvalua: UsuarioEvalua,
                    UsuarioCalificado: UsuarioCalificado,
                    puntaje: rating,
                    comentario: comentario
                },
                accept: 'application/json',
                success: function (response) {
                    swal("éxito!", "Tu calificación fue ingresada.", "success");
                    $("#confirmCalificacion").html("Enviar calificación");
                    $("#confirmCalificacion").hide();
                    $("#btnFinalizarCalificacion").show();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    }
</script>

<style>
    .bs-callout {
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
    }

    .bs-callout-info {
      border-left-color: #1b809e;
    }

    .bs-producto{
        border-color: #1b809e;
        height: 190px;
    }

    .datos-calif-left{
      width: 30%;
      float: left;
      border-right: 1px solid #eeeeee;
      height: 150px;
      display: inline-block;
    }

    .datos-calificacion{
        width: 60%;
        float: right;
        margin-left: 40px;
        display: block;
        margin-top: 20px;
    }

    .labels-c{
        display: inherit;

    }

    .rating-container{
        line-height: 50px !important;
    }
</style>