
<section id="seccion-comentarios">
    <i class="fa fa-spinner fa-pulse fa-2x" style="margin-left: 46%; margin-top: 15px"></i>
</section>
<section id="seccion-menu">
    <textarea class="form-control" rows="3" placeholder="Agrega tu comentario aquí" id="comentarioValue"></textarea>
    <button class="btn btn-info commentBoton" id="agregarCommentButton" onclick="agregarComentario()"> Agregar comentario </button>
</section>
<script id="comment-template" type="text/x-template">
    {{#comentarios}}
    {{>commentItem}}
    {{/comentarios}}
</script>

<script id="commentItem" type="text/x-template">
    <div class="commentItem-Container">
        <img id="imgUser" class="commentItem-imgAutor" src="{{urlImg}}" alt="User" />
        <div class="commentItem-Details">
            <div class="commentItem-Autor">
                <span>
                    {{userId}}
                </span>
            </div>
            <div class="commentItem-Fecha">
                <span>
                    {{fechaVal}}
                </span>
            </div>
        </div>

        <div class="commentItem-Text">
            <i class="fa fa-comment" style="color: #77AAEF;"></i>
            <span style="margin-left: 5px">
                {{texto}}
            </span>
        </div>
        <hr>
    </div>
</script>

<script type="text/javascript">

    var userId = "@Context.User.Identity.Name"
    var isAuth = "@User.Identity.IsAuthenticated"
    var productId = $('.infoProducto-container').data("key");
    var template = $('#comment-template').html();
    var templateItem = $('#commentItem').html();


    Mustache.parse(template);

    $('#myTab a[href="#comentarios"]').click(function (e) {
        var comentarios = [];

        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerJsonComentarios", "Product")",
            data: {
                prodId: productId
            },
            accept: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.Comentarios.length > 0) {
                    $.each(data.Comentarios, function () {

                        var fecha = parseInt(this.fecha.replace("/Date(", "").replace(")/", ""), 10);
                        
                        var comentario = {
                            userId: this.UsuarioID,
                            fechaVal: moment(fecha).format("DD MMM YYYY, HH:mm"),
                            texto: this.texto,
                            urlImg: "@Url.Action("getUserImg", "Usuario")" + "?userId=" + this.UsuarioID
                        }
                        comentarios.push(comentario);
                    });

                    var viewObject = {
                        comentarios: comentarios
                    };
                    var rendered = Mustache.render(template, viewObject, { commentItem: templateItem });
                    $('#seccion-comentarios').html(rendered);
                } else {
                    $('#seccion-comentarios').html("<div id=\"sincomentarios\"><h3>Se el primero en comentar!</h3> </div>")
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    agregarComentario = function () {
        if (isAuth == "True") {
            var commentText = $('#comentarioValue').val();
            if (commentText != "") {
                $("#agregarCommentButton").html("Agregar comentario <i class=\"fa fa-spinner fa-pulse\"></i>");
                comentario = {
                    "userId": userId,
                    "fechaVal": moment().format("DD MMM YYYY, HH:mm"), //Para mostrar
                    "fecha": moment().format("YYYY-MM-DD HH:mm:ss"), //Para guardar
                    "texto": commentText,
                    "prodId": productId,
                    "urlImg": "@Url.Action("getUserImg", "Usuario")" + "?userId=" + userId
                };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("agregarComentario", "Product")",
                    data: comentario,
                    accept: 'application/json',
                    success: function (response) {
                        $("#sincomentarios").hide();
                        $("#agregarCommentButton").html("Agregar comentario");
                        $('#comentarioValue').val("");
                        var templateNuevoComentario = Mustache.render(templateItem, comentario);
                        //Efecto para el nuevo comentario
                        $(templateNuevoComentario).appendTo('#seccion-comentarios').hide().slideDown();
                        //Si esta activado el scrollbar bajamos hasta el nuevo comentario
                        $('#seccion-comentarios').animate({ scrollTop: $('#seccion-comentarios')[0].scrollHeight }, 1500);
                    },
                    error: function (error) {
                        sweetAlert("Oops...", "Algo va mal con el servidor!", "error");
                        console.log(error);
                    }
                });
            } else {
                swal("Ingresa un comentario.");
            }

        } else {
            swal("Inicia sesión para comentar.");
        }
    };

</script>