@{
    var Producto = ViewBag.InfoProducto;
    var nombreTienda = @Session["Tienda_Nombre"];
    int contador = 0;
    var favoritos = Producto.favoritos;
}

<div class="infoProducto-container" data-key="@Producto.ProductoID">
    <div class="infoProducto-top">
        <div class="infoProducto-nombre">
            <h2>
                @Producto.nombre
            </h2>
        </div>
        <div class="infoProducto-left">
            <div class="infoProducto-imgs">
                @{
                    var primeraImagen = "/Content/Images/wat.png";
                    var segundaImagen = "/Content/Images/wat2.jpg";
                    var terceraImagen = primeraImagen;
                }
                <div class="c-wrapper">
                    <div id="myCarousel-" class="carousel slide">
                        <!-- SE ARMA EL VISOR -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="@primeraImagen">
                            </div>
                            <div class="item">
                                <img src="@segundaImagen">
                            </div>
                            <div class="item">
                                <img src="http://placehold.it/700x400">
                            </div>
                        </div>

                        <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                        <a class="left carousel-control" style="background-image: none"  href="#myCarousel-" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" style="background-image: none" href="#myCarousel-" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="module infoProducto-right">
            <div class="infoProducto-data">
                <div class="infoProducto-data-content">
                    <div class="infoProducto-precioActual">
                       $ @Producto.precio_base_subasta <!-- Aca va a ir el precio actual (mayor oferta)-->
                    </div>
                    <div class="product-item-countdown" style="background: white; color:red; margin-top:20px" data-id="@Producto.ProductoID">
                        @Producto.fecha_cierre
                    </div>     
                    <h3>
                        Oferta más alta
                    </h3>
                    <h4>
                        username
                    </h4>
                    <div class="infoProducto-nuevaOferta">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Cantidad</label>
                                <div class="input-group" style="width: 120px">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Ofertar!</button>
                        </form>
                    </div>

                    <hr>  
                    <button type="button" class="btn btn-success"> COMPRAR YA POR &#x00A; @Producto.precio_compra $</button>

                    <div class="infoProducto-favorito" onclick="marcarFavorito()">
                        <div class="infoProd-favLeft" id="favContainer" style="float:left">
                            <i class="fa fa-heart-o" id="favorito"></i>
                        </div>
                        <div class="infoProducto-favText" data-id="0" id="favoritoText">
                            <span id="favsCounter">0</span> Favoritos
                        </div>
                    </div>
                </div>
            </div>
            <div class="infoProducto-ofertas">
                <div class="infoProducto-ofertas-title">
                    <h3>Últimas ofertas!</h3>
                </div>
                <div>
                    <table class="table table-striped" id="tablita">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Oferta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dp in Producto.ofertas)
                            {
                                contador = contador + 1;
                                <tr>
                                    <th scope="row">@contador</th>
                                    <td>@dp.UsuarioID</td>
                                    <td>@dp.monto</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="infoProducto-tab">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Caracteristicas</a></li>
            <li role="presentation"><a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">Comentarios</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Comparar producto</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Reviews</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active infoProducto-pane" id="home"> CARACTERISTICAS </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="comentarios">
            @Html.Partial("_ComentariosPartial")
        </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="messages"> COMPARAR PRODUCTOS</div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="settings">
            <ul class="infoProducto-stars">
                <li>
                    <i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i>
                    <span>(0)</span>
                </li>
                <li>
                    <i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star-o"></i>
                    <span>(0)</span>
                </li>
                <li>
                    <i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i>
                    <span>(0)</span>
                </li>
                <li>
                    <i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i>
                    <span>(0)</span>
                </li>
                <li>
                    <i class="fa fa fa-star"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i><i class="fa fa fa-star-o"></i>
                    <span>(0)</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var prodId = "@Producto.ProductoID"
    var userId = "@Context.User.Identity.Name"
    var isAuth = "@User.Identity.IsAuthenticated"

    var dataProdUser = {
        userId: userId,
        productId: prodId
    };

    $(function () {
        $('#myTab a:last').tab('show')
    })

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerDataFavorito", "Product")",
            data: dataProdUser,
            accept: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.esFav) {
                    $('#favorito').removeClass().addClass('fa fa-heart');
                } else {
                    $('#favorito').removeClass().addClass('fa fa-heart-o');
                }
                $('#favsCounter').html(data.cantFavs);
            },
            error: function (error) {
                console.log(error);
            }
        });

    });

    $('#tablita').addClass('animated flash');

    marcarFavorito = function () {
        if (isAuth) {
            var $fav = $('#favorito'),
            $favText = $('#favsCounter');
            $('#favContainer').removeClass().addClass('pulse' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
            });
            if ($fav.hasClass('fa-heart')) {
                //eliminar favorito
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("eliminarFavorito", "Product")",
                    data: dataProdUser,
                    accept: 'application/json',
                    success: function (response) {
                        console.log(response);
                        $fav.removeClass('.fa fa-heart');
                        $fav.addClass('.fa fa-heart-o');
                        var data = parseInt($favText.text()) - 1;
                        $favText.html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else if ($fav.hasClass('fa-heart-o')) {
                //agregar favorito
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("agregarFavorito", "Product")",
                    data : dataProdUser,
                    accept: 'application/json',
                    success: function (response) {
                        console.log(response);
                        $fav.removeClass('.fa fa-heart-o');
                        $fav.addClass('.fa fa-heart');
                        var data = parseInt($favText.text()) + 1;
                        $favText.html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    }
    
    //$('#myTab a[href="#comentarios"]').click(function (e) {
     //   console.log("hola");
      //  $('#comentarios').load("@Url.Action("obtenerComentarios","Product")");
       // $(this).tab('show');
    //}); 
</script>

<style>
    div.c-wrapper {
        width: auto;
        margin: auto;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: auto;
        height: 360px;
        margin: auto;
    }

    .fa-star,
    .fa-star-o{
        color: #DAA520;
    }
</style>