@{
    var Producto = ViewBag.InfoProducto;
    var nombreTienda = @Session["Tienda_Nombre"];
    var favoritos = Producto.favoritos;
    var usuario = @Context.User.Identity.Name;  
    var cantImagenes = Producto.imagenes.Count;
    var atributos = ViewBag.atributos;
    var valores = ViewBag.valores;
    
}

<div class="infoProducto-container" data-key="@Producto.ProductoID" data-ownerid="@Producto.UsuarioID">
    <div class="infoProducto-top">
        <div class="infoProducto-nombre">
            <h2>
                @Producto.nombre
            </h2>
        </div>
        <!-- SECCIÓN IMAGENES -->
        <div class="infoProducto-left">
            <div class="infoProducto-imgs">
                @{
                    var primeraImagen = "/Content/Images/wat.png";
                    var segundaImagen = "/Content/Images/wat2.jpg";
                    var terceraImagen = primeraImagen;
                }
                <div class="c-wrapper">
                    <div id="myCarousel-" class="carousel slide">
                        <!-- SE ARMA EL VISOR -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="@Url.Action("getProductImg", "Product", new { productId = @Producto.ProductoID, index = 0 })" class="img-responsive" alt="Responsive image" />
                            </div>
                            @for (var i = 1; i < cantImagenes; i++)
                            {
                                <div class="item">
                                    <img src="@Url.Action("getProductImg", "Product", new { productId = @Producto.ProductoID, index = @i })"  class="img-responsive" alt="Responsive image" />
                                </div>
                            }
                        </div>

                        <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                        <a class="left carousel-control" style="background-image: none"  href="#myCarousel-" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" style="background-image: none" href="#myCarousel-" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="module infoProducto-right">
            <!-- SECCIÓN DE COMPRAR / OFERTAR -->
            <div class="infoProducto-data">
                <div class="infoProducto-data-content">
                    <div class="infoProducto-precioActual">
                       $ <span id="precioMayorSubasta"> @Producto.precio_base_subasta </span>  <!-- Aca va a ir el precio actual (mayor oferta)-->
                    </div>
                    <div class="infoProducto-cowndown" data-id="@Producto.ProductoID">
                        @Producto.fecha_cierre.Date.ToString("yyyy-MM-dd HH:mm:ss")
                    </div>     
                    <h3>
                        <span id="hayGanador">
                            Oferta más alta
                        </span>
                    </h3>
                    <h4>
                        <span id="userGanador">
                            username
                        </span>
                    </h4>
                    <div class="infoProducto-nuevaOferta" style="display: -webkit-inline-box;">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Cantidad</label>
                                <div class="input-group" style="width: 120px">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control" id="inputOferta" placeholder="Cantidad">
                                </div>
                            </div>
                        <button id="ofertarYa" class="btn btn-primary fixbutton" onclick="ofertarYa()">Ofertar!</button>
                    </div>

                    <hr>  
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" id="comprarYa" class="btn btn-success fixbutton" onclick="onBuyAuction();"> COMPRAR YA POR &#x00A; @Producto.precio_compra $</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success fixbutton" data-toggle="tooltip" data-placement="left" title="Inicia sesión para comprar."> COMPRAR YA POR &#x00A; @Producto.precio_compra $</button>
                    }

                    <div class="infoProducto-favorito" onclick="marcarFavorito()">
                        <div class="infoProd-favLeft" id="favContainer" style="float:left">
                            <i class="fa fa-heart-o" id="favorito"></i>
                        </div>
                        <div class="infoProducto-favText" data-id="0" id="favoritoText">
                            <span id="favsCounter">0</span> Favoritos
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECCIÓN ULTIMAS OFERTAS -->
            <div class="infoProducto-ofertas">
                <div class="infoProducto-ofertas-title">
                    <h3>Últimas ofertas!</h3>
                </div>
                <!-- renderizado con ofertas-template -->
                <section id="ultimasOfertas">

                </section>
            </div>
        </div>
    </div>

    <!-- SECCIÓN FOOTER - TAB PANE -->
    <div class="infoProducto-tab">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#atributos" aria-controls="atributos" role="tab" data-toggle="tab">Caracteristicas</a></li>
            <li role="presentation"><a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">Comentarios</a></li>
            <li role="presentation"><a href="#comparar" aria-controls="comparar" role="tab" data-toggle="tab">Comparar producto</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Calificación</a></li>
            <li role="presentation"><a href="#localizacion" aria-controls="reviews" role="tab" data-toggle="tab">Geolocalización</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active infoProducto-pane" id="atributos">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Descripción</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @Producto.descripcion
                        </div>
                    </div>
                    <h4>Atributos</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="active">Atributo</th>
                                <th class="success">Valor</th>
                            </tr>
                            @foreach (KeyValuePair<string, string> atributo in atributos)
                            {
                                <tr>
                                    <td>@atributo.Key</td>
                                    <td>@atributo.Value</td>
                                </tr>
                            }
                        </thead>
                    </table>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="comentarios">
            @Html.Partial("_ComentariosPartial")
        </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="comparar"> 
            @Html.Partial("_CompararProductoPartial", new ViewDataDictionary { { "Categoria", Producto.CategoriaID } })
        </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="reviews">
            @Html.Partial("_CalificacionesPartial")
        </div>
        <div role="tabpanel" class="tab-pane fade infoProducto-pane" id="localizacion">
            @Html.Partial("_GeoLocalizacionPartial")
        </div>
    </div>
</div>

<!-- template de las ofertas usando mustache.js -->
<script id="ofertas-template" type="text/x-template">
    <table class="table table-striped" id="tablita">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Oferta</th>
            </tr>
        </thead>
        <tbody>
            {{#Ofertas}}
            <tr data-ofertaid="{{OfertaID}}">
                <th scope="row">{{index}}</th>
                <td>{{UsuarioID}}</td>
                <td>{{monto}}</td>
            </tr>
            {{/Ofertas}}
        </tbody>
    </table>
</script>

<script>
    var prodId = "@Producto.ProductoID"
    var montoTotal = parseInt("@Producto.precio_compra")
    var userId = "@Context.User.Identity.Name"
    var isAuth = "@User.Identity.IsAuthenticated"
    var tienda = "@Session["Tienda_Nombre"].ToString()"

    $cowntdown = $(".infoProducto-cowndown");
    var auction = {
        auctionId: $cowntdown.data("id"),
        endTime: moment($cowntdown.text(), "YYYY-MM-DD HH:mm:ss"),
        timeDiv: $cowntdown
    };

    var dataProdUser = {
        userId: userId,
        productId: prodId
    };

    $(function () {
        $('#myTab a[href="#atributos"]').tab('show')
    })

    $(document).ready(function () {
        //Para el manejo del timer

        var duration = moment.duration(auction.endTime.diff(moment())),
            interval = 1000;
        console.log("Al producto " + auction.auctionId + " le faltan: "); console.log(duration);

        if (duration._milliseconds <= 0) {
            auction.timeDiv.text("Finalizado.")
        } else {
            auction.currentInterval = setInterval(function () {
                duration = moment.duration(auction.endTime.diff(moment()));
                if (duration._milliseconds <= 0) {
                    auction.timeDiv.text("Finalizado.");
                    clearInterval(auction.currentInterval);
                } else {
                    var hours = duration.hours() < 10 ? '0' + duration.hours() : duration.hours(),
                        minutes = duration.minutes() < 10 ? '0' + duration.minutes() : duration.minutes(),
                        seconds = duration.seconds() < 10 ? '0' + duration.seconds() : duration.seconds(),
                        days = duration.days() > 0 ? duration.days() + "d" : "",
                        months = duration.months() > 0 ? duration.months() + "m" : "";
                    auction.timeDiv.text(months + " " + days + " " + hours + ":" + minutes + ":" + seconds)
                }
            }, interval);
        }

        //Para obtener las mejores ofertas y actualizar los precios
        obtenerMejoresOfertas();

        //Para obtener la cantidad de favoritos y si el usuario lo tiene como favorito
        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerDataFavorito", "Product")",
            data: dataProdUser,
            accept: 'application/json',
            success: function (data) {
                console.log(data);
                if (data.esFav) {
                    $('#favorito').removeClass().addClass('fa fa-heart');
                } else {
                    $('#favorito').removeClass().addClass('fa fa-heart-o');
                }
                $('#favsCounter').html(data.cantFavs);
            },
            error: function (error) {
                console.warn(error);
            }
        });
    });

    $(function () {
        // Proxy creado a partir de signalr/hubs
        var proxy = $.connection.subastaHub;

        // Start the connection
        $.connection.hub.start()
            .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
            .fail(function () { console.log('Could not Connect!'); });

        /** Server callback methods **/
        proxy.client.newBidPosted = function (productId, newBid, usuarioPoster) {
            if (productId == prodId) {
                if (usuarioPoster == userId) {
                    $("#ofertarYa").html("Ofertar!");
                }
                //Oferta sobre el producto que estoy viendo
                //Voy a buscar las mejores ofertas
                obtenerMejoresOfertas();
            }
        };

        proxy.client.onError = function (productId, msg) {
            //Para sacar loading
            $("#ofertarYa").html("Ofertar!");
            $("#comprarYa").html("COMPRAR YA POR " +montoTotal+ "!");
            sweetAlert("Oops...", msg, "error");
        };

        proxy.client.newBuyPosted = function (productId, monto, usuarioPoster) {
            if (productId == prodId) {
                $("#comprarYa").html("VENDIDO");
                $("#hayGanador").text("Hay ganador!!");
                $("#userGanador").text(usuarioPoster);
                $("#precioMayorSubasta").text(monto);
                clearInterval(auction.currentInterval);
                $cowntdown.text("Producto vendido.");
                $("#comprarYa").addClass("disabled");
                $("#ofertarYa").addClass("disabled");
            }
        };

        /**  Client methods **/
        ofertarYa = function () {
            var amount = parseInt($("#inputOferta").val(), 10),
                precioActual = parseInt($("#precioMayorSubasta").text(), 10);
            if (isInt(amount)) {
                if (amount <= precioActual) {
                    swal("","La cantidad ofertada no supera el precio actual.");
                } else if (amount > montoTotal) {
                    swal("","La cantidad ofertada supera el precio comprar ya!");
                } else {
                    $("#ofertarYa").html("Ofertar! <i class=\"fa fa-spinner fa-pulse\"></i>");
                    proxy.server.placeNewBid(prodId, amount, false, userId, tienda);
                }
            } else {
                swal("","Ingrese una oferta válida.");
            }
        }

        onBuyAuction = function () {
            $("#comprarYa").html($("#comprarYa").text() + " " + "<i class=\"fa fa-spinner fa-pulse\"></i>");
            proxy.server.buyAuction(prodId, montoTotal, userId, tienda);
        }

    });

    marcarFavorito = function () {
        if (isAuth) {
            var $fav = $('#favorito'),
            $favText = $('#favsCounter');
            $('#favContainer').removeClass().addClass('pulse' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
            });
            if ($fav.hasClass('fa-heart')) {
                //eliminar favorito
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("eliminarFavorito", "Product")",
                    data: dataProdUser,
                    accept: 'application/json',
                    success: function (response) {
                        console.log(response);
                        $fav.removeClass('.fa fa-heart');
                        $fav.addClass('.fa fa-heart-o');
                        var data = parseInt($favText.text()) - 1;
                        $favText.html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else if ($fav.hasClass('fa-heart-o')) {
                //agregar favorito
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("agregarFavorito", "Product")",
                    data : dataProdUser,
                    accept: 'application/json',
                    success: function (response) {
                        console.log(response);
                        $fav.removeClass('.fa fa-heart-o');
                        $fav.addClass('.fa fa-heart');
                        var data = parseInt($favText.text()) + 1;
                        $favText.html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    }

    obtenerMejoresOfertas = function() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("obtenerJsonMejoresOfertas", "Product")",
            data: {
                N: 6,
                productId: productId,
            },
            accept: 'application/json',
            success: function (data) {
                if (data.Ofertas.length > 0) {
                    var contador = 0;
                    $.each(data.Ofertas, function () {
                        contador++;
                        this.index = contador;
                    });
                    var templateOfertas = $('#ofertas-template').html();
                    Mustache.parse(templateOfertas);
                    var viewObject = {
                        Ofertas: data.Ofertas
                    };
                    var rendered = Mustache.render(templateOfertas, viewObject);
                    $('#ultimasOfertas').html(rendered);
                    $('#ultimasOfertas').removeClass().addClass('flash' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                        $(this).removeClass();
                    });
                }
                $("#userGanador").text(data.Ofertas[0].UsuarioID);
                $("#precioMayorSubasta").text(data.Ofertas[0].monto);
            },
            error: function (error) {
                console.warn(error);
            }
        });
    }
</script>

<style>
    div.c-wrapper {
        width: auto;
        margin: auto;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    .fa-star,
    .fa-star-o{
        color: #DAA520;
    }

    .nav a {
      background: transparent;
    }
</style>