<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Che-Bay</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Che-Bay Back Office", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <nav>
                    <div class="btn-group">
                        <button type="button" class="btn btn-link" onclick="$('#modalLogin').modal()">Login</button>
                        <button type="button" class="btn btn-link" onclick="Registrarse()">Registrarse</button>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        
        <section class="main-content clear-fix">
            @*@if(ViewBag.LoggedIn)
            {*@
                <div class="menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active" onclick="DirigirCrearTienda()">
                            Crear Tienda
                        </a>
                        <a href="#" class="list-group-item">Modificar Tienda</a>
                        <a href="#" class="list-group-item">Configuracion</a>
                    </div>
                </div>
            @*}*@
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Che-Buy</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)


    <div id="modalLogin" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    Email : <br />
                    <input type="email" class="form-control" id="mail"
                           placeholder="Email"><br />
                    Password :<br />
                    <input type="password" class="form-control" id="pass"
                           placeholder="Password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
