@{
    ViewBag.Title = "Home Page";
    var productos = ViewBag.productos;
    var idProd = 0;
}


<div class="row">
    @foreach (var dp in productos)
    {
        {idProd++;}
        <div class="product-item">
            <div class="product-item-header">@dp.nombre</div>
            @{
                var primeraImagen = "/Content/Images/wat.png";
                var segundaImagen = "/Content/Images/wat2.jpg";
                var terceraImagen = primeraImagen;
            }
            <div class="c-wrapper">
                <div id="myCarousel-@idProd" class="carousel slide">
                    <!-- INDICATORS
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol> -->

                    <!-- SE ARMA EL VISOR -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@primeraImagen">
                        </div>
                        <div class="item">
                            <img src="@segundaImagen">
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/700x400">
                        </div>
                    </div>

                    <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                    <a class="left carousel-control" href="#myCarousel-@idProd" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-@idProd" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
            <button id="bidButton" data-id="@idProd" onclick="onNewBidClick(@idProd)">BID!</button> <p id="bidValue-@idProd">0</p>
            <p>
                @dp.descripcion
            </p>

        </div>
    }
</div>

<script>
    $('.carousel').carousel({
       'interval': 6000
    });
</script>

<script type="text/javascript">
    $(function () {

        // Proxy creado a partir de signalr/hubs
        var proxy = $.connection.subastaHub;
        // Server callback methods
        proxy.client.newBidPosted = function (productId, newBid) {
            $('#bidValue-' + productId).text(newBid);
        };

        // Start the connection
        $.connection.hub.start();

        // Client methods
        onNewBidClick = function (id) {
            var productId = id,
              currentBid = parseInt($('#bidValue-' + productId).text(), 10),
              bidToPost = currentBid + 1;
            //var newBid = "{ 'productId': " + productId + ", 'Value': '" + bidToPost + "' }";
            proxy.server.placeNewBid(productId, bidToPost);
        };
    });
</script>

<style>
    div.c-wrapper{
        width: auto; 
        margin: auto;
    }

    .carousel-inner > .item > img, 
    .carousel-inner > .item > a > img{
        width:auto;
        height:170px;
        margin: auto;
    }
</style>


<!--Para el chat-->
<!--Div chat-->
<div id="chat_div">
</div>