@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    var productos = ViewBag.productos;
    var usuario = @Context.User.Identity.Name;
    var tienda = @Session["Tienda_Nombre"].ToString();
}


<div class="row">
    @foreach (var dp in productos)
    {
        <div class="product-item">
            <a href="@Url.Action("Details", "Product", new { productId = @dp.ProductoID })">
                <div class="product-item-header">@dp.nombre</div>
            </a>
            <div class="c-wrapper">
                <img src="@Url.Action("getProductImg", "Product", new { productId = @dp.ProductoID, index = 0 })" class="img-centrada" alt="Responsive image" />
            </div>
            <div class="product-item-footer">
                <div class="product-item-countdown" data-id="@dp.ProductoID"> @dp.fecha_cierre.Date.ToString("yyyy-MM-dd HH:mm:ss") </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-success bid-button" id="bidButton-@dp.ProductoID" data-id="@dp.ProductoID" onclick="onNewBidClick(@dp.ProductoID, '@usuario','@tienda');"> OFERTAR! </button>
                }
                else
                {
                    <button class="btn btn-success bid-button disabled" title="Inicia sesión para ofertar."> OFERTAR! </button>
                }
                <div class="offer-section">
                    <div class="offer-section-price" id="bidValue-@dp.ProductoID"> @dp.precio_actual </div>
                    <button class="offer-section-button" onclick="incrementOffer(@dp.ProductoID)"> + </button>
                </div>
                <div class="product-user-winner">
                    <p id="userIdGanador-@dp.ProductoID">@dp.idOfertante</p>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('.carousel').carousel({
       'interval': 6000
    });
</script>

<script type="text/javascript">
    var usuario = "@Context.User.Identity.Name"
    var auctions = $([]);
    $('.product-item-countdown').each(function () {
        var _this = $(this);
        var auction = {
            auctionId: _this.data('id'),
            endTime: moment(_this.text(), "YYYY-MM-DD HH:mm:ss"),
            timeDiv: _this
        };
        auctions.push(auction);
    });

    $(function () {
        // Proxy creado a partir de signalr/hubs
        var proxy = $.connection.subastaHub;
        // Server callback methods
        proxy.client.newBidPosted = function (productId, newBid, userId) {
            if (userId == usuario) {
                $("#bidButton-" + productId).html("OFERTAR!");
            }
            $('#bidValue-' + productId).text(newBid);
            $('#userIdGanador-' + productId).text(userId);
        };

        proxy.client.onError = function (productId, msg) {
            $("#bidButton-" + productId).html("OFERTAR!");
            sweetAlert("Oops...", msg, "error");
        };

        proxy.client.newBuyPosted = function (productId, monto, userId) {
            debugger;
            auctions.each(function () {
                if (this.auctionId == productId) {
                    clearInterval(this.currentInterval);
                    this.timeDiv.text("Producto vendido!")
                    $('#bidValue-' + productId).text(monto);
                    $('#userIdGanador-' + productId).text(userId);
                    $('#bidButton-' + productId).addClass("disabled");
                    return false;
                }
            });
        };

        // Start the connection
        $.connection.hub.start();

        // Client methods
        onNewBidClick = function (id, usuario, tienda) {
            $("#bidButton-" + id).html("OFERTAR! <i class=\"fa fa-spinner fa-pulse\"></i>");
            var productId = id,
              bidToPost = parseInt($('#bidValue-' + productId).text(), 10);
            proxy.server.placeNewBid(productId, bidToPost, false, usuario, tienda);
        };

        incrementOffer = function (id) {
            $('#bidValue-' + id).text(parseInt($('#bidValue-' + id).text(), 10) + 1);
        }
    });

    //Para el manejo de los timers
    $(document).ready(function () {
        auctions.each(function () {
            var that = this;
            var finishTime = that.endTime,
                duration = moment.duration(finishTime.diff(moment())),
                interval = 1000;
            //console.log("Al producto " + this.auctionId + " le faltan: "); console.log(duration);
            if (duration._milliseconds <= 0) {
                that.timeDiv.text("Finalizado!");
                $('#bidButton-' + that.productId).addClass("disabled");
            } else {
                that.currentInterval = setInterval(function () {
                    duration = moment.duration(finishTime.diff(moment()));
                    if (duration._milliseconds <= 0) {
                        console.log(duration);
                        that.timeDiv.text("Finalizado!");
                        $('#bidButton-' + that.productId).addClass("disabled");
                        clearInterval(that.currentInterval);
                    } else {
                        var hours = duration.hours() < 10 ? '0' + duration.hours() : duration.hours(),
                            minutes = duration.minutes() < 10 ? '0' + duration.minutes() : duration.minutes(),
                            seconds = duration.seconds() < 10 ? '0' + duration.seconds() : duration.seconds(),
                            days = duration.days() > 0 ? duration.days() + "d" : "",
                            months = duration.months() > 0 ? duration.months() + "m" : "";
                        that.timeDiv.text(months + " " + days + " " + hours + ":" + minutes + ":" + seconds)
                    }
                }, interval);
            }
        });
    });
</script>

<style>
    /*div.c-wrapper{
        width: auto; 
        margin: auto;
        height: 57%;
    }*/

    div.c-wrapper{
        margin: 1em 0;
        position: relative;
        height: 48%;
    }

    .img-centrada{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    

    .carousel-inner > .item > img, 
    .carousel-inner > .item > a > img{
        width:auto;
        height:170px;
        margin: auto;
    }
</style>


<!--Para el chat-->
<!--Div chat-->
<div id="chat_div">
</div>