@{
    ViewBag.Title = "Home Page";
    var productos = ViewBag.productos;
    var idProd = 0;
}


<div class="row">
    @foreach (var dp in productos)
    {
        <div class="product-item">
            <div class="product-item-header">@dp.nombre</div>
            @{
                var primeraImagen = "/Content/Images/wat.png";
                var segundaImagen = "/Content/Images/wat2.jpg";
                var terceraImagen = primeraImagen;
            }
            <div class="c-wrapper">
                <div id="myCarousel-@dp.ProductoID" class="carousel slide">
                    <!-- SE ARMA EL VISOR -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@primeraImagen">
                        </div>
                        <div class="item">
                            <img src="@segundaImagen">
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/700x400">
                        </div>
                    </div>

                    <!-- SE ARMA EL NAVEGADOR DEL VISOR -->
                    <a class="left carousel-control" href="#myCarousel-@idProd" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel-@idProd" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
            <div class="product-item-footer">
                <div class="product-item-countdown" data-id="@dp.ProductoID"> @dp.fecha_cierre </div>
                <button class="btn btn-success bid-button" id="bidButton" data-id="@dp.ProductoID" onclick="onNewBidClick(@dp.ProductoID)">BID NOW!</button>
                <div class="offer-section">
                    <div class="offer-section-price" id="bidValue-@dp.ProductoID"> @dp.precio_actual </div>
                    <button class="offer-section-button" onclick="incrementOffer(@dp.ProductoID)"> + </button>
                </div>
                <div class="product-user-winner">
                    <p id="userIdGanador-@dp.ProductoID">@dp.idOfertante</p>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('.carousel').carousel({
       'interval': 6000
    });
</script>

<script type="text/javascript">
    $(function () {
        // Proxy creado a partir de signalr/hubs
        var proxy = $.connection.subastaHub;
        // Server callback methods
        proxy.client.newBidPosted = function (productId, newBid, userId) {
            $('#bidValue-' + productId).text(newBid);
            $('#userIdGanador-' + productId).text(userId);
        };

        // Start the connection
        $.connection.hub.start();

        // Client methods
        onNewBidClick = function (id) {
            var productId = id,
              bidToPost = parseInt($('#bidValue-' + productId).text(), 10);
            //var newBid = "{ 'productId': " + productId + ", 'Value': '" + bidToPost + "' }";
            proxy.server.placeNewBid(productId, bidToPost, false, "otroUserPrueba");
        };

        incrementOffer = function(id) {
            $('#bidValue-' + id).text( parseInt($('#bidValue-' + id).text(), 10) + 1);
        }

        //Para el manejo de los timers
        $(document).ready(function(){
            var auctions = $([]);
            $('.product-item-countdown').each(function(){
                var _this = $(this);
                console.log(_this);
                var auction = {
                    auctionId : _this.data('id'),
                    endTime   : moment(_this.text()),
                    timeDiv   : _this
                };
                auctions.push(auction);
            });

            auctions.each(function(){
                console.log(this);
                var that = this;
                var finishTime   = that.endTime,
                    currentTime  = moment(),
                    duration     = moment.duration(finishTime - currentTime, 'milliseconds'),
                    interval     = 1000;
                if (duration._milliseconds <= 0) {
                    that.timeDiv.text("EXPIRED!")
                } else {
                  that.currentInterval = setInterval(function(){
                      duration = moment.duration(finishTime - moment(), 'milliseconds');
                        if (duration._milliseconds <= 0) {
                            console.log(duration);
                            that.timeDiv.text("EXPIRED!");
                            clearInterval(that.currentInterval);
                        } else {
                            var hours = duration.hours() < 10 ? '0' + duration.hours() : duration.hours(),
                                minutes = duration.minutes() < 10 ? '0' + duration.minutes() : duration.minutes(),
                                seconds = duration.seconds() < 10 ? '0' + duration.seconds() : duration.seconds(),
                                days = duration.days() > 0 ? duration.days() +"d" : "",
                                months = duration.months() > 0 ? duration.months() +"m" : "";
                            that.timeDiv.text(months + " " + days + " " + hours + ":" + minutes + ":" + seconds)
                        }
                    }, interval);
                }
            });
        });
    });
</script>

<style>
    div.c-wrapper{
        width: auto; 
        margin: auto;
    }

    .carousel-inner > .item > img, 
    .carousel-inner > .item > a > img{
        width:auto;
        height:170px;
        margin: auto;
    }
</style>


<!--Para el chat-->
<!--Div chat-->
<div id="chat_div">
</div>