<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Che-Bay</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
    <div class="float-left">
        <p class="site-title">@Html.ActionLink("Che-Bay Back Office", "Index", "Home")</p>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="float-right">
            <nav>
                <div class="btn-group">
                    @*<button type="button" class="btn btn-link" onclick="$('#modalLogin').modal()">Login</button>*@
                    <a href="/Account/Login">Login</a>
                    <a href="/Account/Register">Registrarse</a>
                    @*<button type="button" class="btn btn-link" onclick="Registrarse()">Registrarse</button>*@
                </div>
            </nav>
        </div>
    }
    else
    {
        <div class="float-right">
            <nav>
                <div class="btn-group">
                    @*<button type="button" class="btn btn-link" onclick="$('#modalLogin').modal()">Login</button>*@
                    <a>@User.Identity.Name</a>
                    <a href="/Account/LogOff">LogOff</a>
                    @*<button type="button" class="btn btn-link" onclick="Registrarse()">Registrarse</button>*@
                </div>
            </nav>
        </div>
        



    }
            </div>
    </header>
 
    
       <div id="body">
        <section class="main-content clear-fix">
            @if(User.Identity.IsAuthenticated)
            {
                <div class="menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="DirigirCrearTienda()">
                            Crear Tienda
                        </a>
                        <a href="#" class="list-group-item" onclick="DirigirVerTiendas()">Ver Tiendas</a>
                        @*<a href="#" class="list-group-item">Configuracion</a>*@
                    </div>
                </div>
            }
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Che-Buy</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)


    <div id="modalBorrarTienda" class="modal fade">
        <div class=" modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color : blue;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Está seguro que desea borrar la tienda seleccionada?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="borrarTienda()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
    </div>

    <div id="modalReporteTienda" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color : blue;color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reporte de la Tienda</h4>
                </div>
                <div class="modal-body" id="bodyVerReporte">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
